@font-face {
  font-family: "splach";
  src: url("../../src/assets/font/Splatch.ttf");
}

.non {
  position: absolute;
  font-size: 30px;
  left: 30px;
  top: 70px;
}

.oui {
  position: absolute;
  font-size: 30px;
  left: 30px;
  top: 70px;
}

.hidden {
  opacity: 0;
}

.diag_game {
  font-size: 30px;
  margin-right: 100px;
  margin-left: 40px;
  margin-bottom: 20px;
  border: solid;
  width: 220px;
}

.counter {
  display: flex;
  width: 510px;
  height: 163px;
  justify-content: space-around;
  position: absolute;
  top: 80%;
  align-items: center;
  left: 35%;
  background-image: url("../../src/assets/oscompteur.png");
  background-repeat: no-repeat;

  .counter__add {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 100px;
    height: 100px;
    font-size: 30px;
  }
  .counter__result {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 30px;
  }
  .counter__sub {
    display: flex;
    justify-content: center;
    background-image: url("../../src/assets/courgettegame.png");
    background-repeat: no-repeat;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 30px;
  }
  .counter__courge-resulte {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 30px;
  }
}

.send {
  position: absolute;
  top: 95%;
  left: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 290px;
  height: 30px;
  border: solid;
  font-size: 20px;
}

.heath-container {
  position: absolute;
  margin-top: 20px;
  margin-left: 1700px;
  width: 50px;
  height: 300px;
  background: linear-gradient(180deg, #7b7b7b 0%, rgba(255, 255, 255, 0) 100%),
    #8585ac;
  .health {
    width: 50px;
    height: 300px;
    background-color: #6b6969;
    transition: 0.1s;
  }
}

.score {
  width: 95vw;
  font-size: 30px;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.minigame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: solid;
}

.brutus_win {
  background-image: url("../../src/assets/brutuswin.png");
  background-repeat: no-repeat;
}

.brutus_lose {
  background-image: url("../../src/assets/brutuselose.png");
  background-repeat: no-repeat;
}
